/spotify-tui
/Battle.net
/gtk-2.0
/epy
/spicetify
*starship.toml
/configstore
/spek
/kitty
/base16-shell
/spacebar
/spotifyd
/warpd
/cmus
/omf
/limelight
/karabiner
/htop
/fishpropt.txt
/oh-my-posh-themes
/sketchybartemp
/sketchybarmoderntemp
/spacebar
/lf
/cool-retro-term-themes
